<% @bg_images = resource.images || site.homes.first.images %>
<!doctype html>
<%= render 'html_tag' %>
<%= render 'head' %>
<body id='<%= @body_id %>'>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

<div id="wrapper-wide-body">
  <%= render 'header' %>
  <div id='main-container' class='container-fluid'>
    <% if content_for?(:page_container) %>
        <%= render "flash" %>
        <%= yield :page_container %>
    <% else %>
		
        <div id="main-row" class='row-fluid'>
          <% if content_for?(:page_content) %>
              <div id="main" class='span12 <%= @body_id %>'>
				<%= yield :page_content %>
              </div>
          <% else %>
              <%
                 has_left_sidebar = content_for?(:left_sidebar)
                 has_sidebar = content_for?(:sidebar_header) || content_for?(:sidebar)
                 main_span = 12
                 main_span -= 3 if has_sidebar
                 main_span -= 3 if has_left_sidebar
              %>
              <% if has_left_sidebar %>
                  <aside id='left_sidebar' class="span3"><%= yield :left_sidebar %></aside>
              <% end %>
              <div id="main" class='span<%= main_span %> <%= @body_id %> '>
				  <%= render "flash" %>
                  <%= yield %>
              </div>
              <% if has_sidebar %>
                  <aside id='sidebar' class="span3">
					<%= yield :sidebar_header %>
					<%= yield :sidebar %>
                  </aside>
              <% end %>
          <% end %>
        </div>
        <% end %><%# end page_container %>
  </div>
  <%= render 'footer' %>
  <%= render 'copyright' %>
</div>

<%= render 'javascripts' %>


</body>
</html>